fastapi
uvicorn
langchain
langchain-community 
python-dotenv
langchain-huggingface
faiss-cpu
jinja2
python-multipart
wikipedia
pypdf
sentence-transformers 
torch                 
transformers          
accelerate